.nav__footer li i {
	top: 0;

}

.nav__footer ul {
	display: flex;
}

.nav__footer li {
	width: 25%;
	float: left;
	text-align: center;
	align-items: center;
}

.nav__footer li a {
	display: block;
	height: 80px;
	text-align: center;
	width: 100%;
	padding: 15px 5px 5px;
}

.nav__footer li span {
	color: #fff;
	font-size: 11px;
	display: block;
	margin-top: 8px;
	font-weight: 700;
	text-transform: uppercase;
	white-space: nowrap;

}